<%- include('../partials/header.ejs') %>
<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <form action="/clucks" method="POST">
        <div class="form-group">
          <label for="content" class="form-label">Content</label>
          <textarea name="content" id="content" rows="5" class="form-control" placeholder="Whatchoo cluckin' 'bout?"
            required></textarea>
        </div>
        <div class="form-group">
          <label for="image_url" class="form-label">Image Url</label>
          <input type="url" name="image_url" id="image_url" class="form-control">
        </div>
        <div class="d-flex flex-row-reverse">
          <input class="btn btn-outline-primary" type="submit" value="Cluck!">
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>