<%- include('./partials/header.ejs') %>
<div class="container">
  <form action="/sign_in" method="post">
    <div class="form-group">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" id="username" class="form-control">
    </div>
    <input type="submit" value="Sign In" class="btn btn-primary">
  </form>
</div>
<%- include('./partials/footer.ejs') %>